<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="in.friendzzz" version="3.03.10">
    <name>FRIENDZZZ</name>
    <description>
        APPLICATION FOR DATING AND SOCIAL ACTIVITY   
    </description>
    <author email="business@techfancier.com" href="http://techfancier.com">
        Apache Cordova Team
    </author>
    
    <access origin="*" />
    <content src="index.html" />
    <allow-navigation href="*"/>
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <access origin="https://*.razorpay.com/*" />
    <feature name="LocalStorage">
       <param name="ios-package" value="CDVLocalStorage"/>
    </feature>
    <feature name="Geolocation">
       <param name="android-package" value="org.apache.cordova.GeoBroker"/>
    </feature>
    <feature name="Geolocation">
       <param name="ios-package" value="CDVLocation"/>
    </feature>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="browser" spec="~4.1.0" />
    <plugin name="com.razorpay.cordova" spec="https://github.com/razorpay/razorpay-cordova.git" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
